<div class="example-button-row">
  <button mat-raised-button color="primary"
    [routerLink]="['../../../', 'employees', employee.id, 'details']">Profile</button>
  <button mat-raised-button color="primary" [routerLink]="['../', 'performance-reviews']" class="mx-1">Performance
    Reviews</button>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-primary">
        TCP Reviews
      </div>
      <div class="card-body">
        <div class="row mb-3" *ngIf="canAccess()">
          <div class="col">
            <div class="example-button-row pull-right">
              <button mat-raised-button color="primary"
                [routerLink]="['../../../', 'employees', employee.id, 'tech-reviews', 'new']">New TCP
                Review</button>
            </div>
          </div>
        </div>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let review of techReviews">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ review.evaluation_period.name }}
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
              <div class="col">
                <a mat-raised-button class="btn btn-warning btn-round btn-just-icon pull-right"
                  [routerLink]="['../../../', 'employees', employee.id, 'tech-reviews', review.id, 'edit']">
                  <i class="material-icons">create</i>
                  <div class="ripple-container"></div>
                </a>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header card-header-success">
                    TCP Review Answers
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead class="text-primary">
                          <th>Competency</th>
                          <th>Current Position</th>
                          <th>Comments / Expectations</th>
                          <th>Plan to reach next level</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let answer of review.tcp_answers">
                            <td>{{ answer.competency }}</td>
                            <td>{{ answer.current_position }}</td>
                            <td>{{ answer.tcp_comment_expectation.text }}</td>
                            <td>{{ answer.tcp_plan.text }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>