<div class="row">
  <div class="col" *ngIf="canAccess()">
    <button mat-raised-button class="btn btn-success pull-right" [routerLink]="['../../', 'events', 'new']">
      <i class="material-icons">add_box</i>
      Add New Event
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-success">
        Events List
      </div>
      <div class="card-body">
        <div class="row justify-content-center" *ngIf="events == null">
          <div class="col-2">
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <div class="table-responsive" *ngIf="events != null">
          <table class="table table-hover">
            <thead class="text-primary">
              <th>Name</th>
              <th class="text-center">Frequency</th>
              <th class="text-center">Points</th>
              <th class="text-center">Participants</th>
            </thead>
            <tbody>
              <tr *ngFor="let event of events" [routerLink]="['../../', 'events', event.id, 'details']">
                <td>{{ event.name | titlecase }} </td>
                <td class="text-center">{{ event.frequency | titlecase }} </td>
                <td class="text-center">{{ event.points }} </td>
                <td class="text-center">{{ event.participants.length }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>