<div class="row">
  <div class="col" *ngIf="canAccess()">
    <button mat-raised-button class="btn btn-success pull-right" [routerLink]="['../../', 'clients', 'new']">
      <i class="material-icons">add_box</i>
      Add New Client
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-primary">
        Clients List
      </div>
      <div class="card-body">
        <div class="row justify-content-center" *ngIf="clients == null">
          <div class="col-2">
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text-primary">
              <th>Name</th>
              <th>Last Name</th>
              <th>Company Name</th>
              <th>Contact Email</th>
              <th>Country</th>
            </thead>
            <tbody>
              <tr *ngFor="let client of clients" [routerLink]="['../../', 'clients', client.id, 'details']">
                <td>{{ client.name }}</td>
                <td>{{ client.last_name }}</td>
                <td>{{ client.company_name }}</td>
                <td>{{ client.contact_email }}</td>
                <td>{{ client.country }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>