<footer class="footer ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="http://www.pernix-solutions.com/">
                Pernix Solutions
              </a>
            </li>
            <li>
              <a href="http://www.pernix-solutions.com/#services">
                Services
              </a>
            </li>
            <li>
              <a href="http://www.pernix-solutions.com/#labs">
                Labs
              </a>
            </li>
            <li>
              <a href="http://www.pernix-solutions.com/#team">
                Team
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright pull-right">
          &copy;
          {{date | date: 'yyyy'}}, made with love by
          <a href="https://github.com/aleks279" target="_blank">Saul Zamora</a> for a better web.
        </div>
      </div>
    </div>
  </div>
</footer>