<div mat-dialog-content>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header card-header-warning">
          New comment
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Text" [(ngModel)]="comment.text" name="text" required></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-checkbox [(ngModel)]="comment.anonymus" name="anonymus">
                <i class="material-icons">person_outline</i>
                Remain anonymus
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="confirm()" class="btn btn-success">{{ data.confirm }}</button>
  <button mat-button (click)="cancel()" cdkFocusInitial class="btn btn-danger">{{ data.cancel }}</button>
</div>