<div mat-dialog-content>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header card-header-warning">
          Add Partcipants
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h4>Employee List</h4>
              <table class="table table-hover">
                <thead class="text-primary">
                  <th>Name</th>
                  <th>Ownership</th>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of data.employees; let employee_index = index;">
                    <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                    <td>
                      <button mat-raised-button type="button" matTooltip="Add participant"
                        [matTooltipPosition]="'above'" class="btn btn-success btn-link btn-sm btn-just-icon pull-right"
                        (click)="addParticipant(employee, employee_index)">
                        <i class=" material-icons">add</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col">
              <h4>New Participants</h4>
              <table class="table table-hover">
                <thead class="text-primary">
                  <th>Name</th>
                  <th>Date</th>
                  <th>Type</th>
                </thead>
                <tbody>
                  <tr *ngFor="let participant of data.participants; let participant_index = index;">
                    <td>{{ participant.employee.first_name }} {{ participant.employee.last_name }}</td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <input matInput [matDatepicker]="participant_date" placeholder="Date"
                          [(ngModel)]="participant.date" name="participant_date" required>
                        <mat-datepicker-toggle matSuffix [for]="participant_date"></mat-datepicker-toggle>
                        <mat-datepicker #participant_date></mat-datepicker>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="example-full-width">
                        <mat-select placeholder="Participant Type" [value]="participant.is_owner" required>
                          <mat-option *ngFor="let type of validTypes" [value]="type.value">
                            {{ type.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
                    <!-- <td>
                    <button mat-raised-button type="button" matTooltip="Add skill" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon pull-right"
                      (click)="removeParticipant(participant)">
                      <i class=" material-icons">close</i>
                    </button>
                  </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="confirm()" class="btn btn-danger">{{ data.confirm }}</button>
  <button mat-button (click)="cancel()" cdkFocusInitial class="btn btn-success">{{ data.cancel }}</button>
</div>