<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top mb-2">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" [routerLink]="['../../', 'employees', 'list']">{{getTitle()}}</a>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <div class="col-md-1" *ngIf="employee != null">
        <a mat-raised-button class="btn btn-info btn-round btn-just-icon"
          [routerLink]="['employees', employee.id, 'details']" *ngIf="!isScoreboard()" matTooltip="My Profile"
          [matTooltipPosition]="'below'">
          <i class="material-icons">person</i>
          <div class="ripple-container"></div>
        </a>
      </div>
      <div class="col-md-1">
        <a mat-raised-button class="btn btn-primary btn-round btn-just-icon" routerLink="/scoreboard" target="_blank"
          *ngIf="!isScoreboard()" matTooltip="Scoreboard" [matTooltipPosition]="'below'">
          <i class="material-icons">score</i>
          <div class="ripple-container"></div>
        </a>
        <a mat-raised-button class="btn btn-primary btn-round btn-just-icon" routerLink="/employees/list"
          *ngIf="isScoreboard()" matTooltip="Pernix Central" [matTooltipPosition]="'below'">
          <i class="material-icons">group</i>
          <div class="ripple-container"></div>
        </a>
      </div>
    </div>
  </div>
</nav>