<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-danger">
        Project Form
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" [(ngModel)]="project.name" name="name" required>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="start_date" placeholder="Start date" [(ngModel)]="project.start_date"
                name="start_date" required>
              <mat-datepicker-toggle matSuffix [for]="start_date"></mat-datepicker-toggle>
              <mat-datepicker #start_date></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Project status" [value]="project.status" name="status" required>
                <mat-option *ngFor="let option of projectStatuses" [value]="option.symbol">
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="end_date" placeholder="End date" [(ngModel)]="project.end_date"
                name="end_date" required>
              <mat-datepicker-toggle matSuffix [for]="end_date"></mat-datepicker-toggle>
              <mat-datepicker #end_date></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Description" [(ngModel)]="project.description" name="description"
                required></textarea>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Clients" multiple [value]="project.client_ids">
                <mat-option *ngFor="let client of clients" [value]="client.id">
                  {{ client.name }} {{ client.last_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Team" [value]="project.team_id">
                <mat-option *ngFor="let team of teams" [value]="team.id">
                  {{ team.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button class="btn btn-danger" (click)="goBack()">
              <i class="material-icons">clear</i>
              Cancel
            </button>
          </div>
          <div class="col-md-6">
            <button mat-raised-button class="btn btn-success pull-right" (click)="updateProject(project)"
              *ngIf="!isNew">
              <i class="material-icons">save</i>
              Update Project
            </button>
            <button mat-raised-button class="btn btn-success pull-right" (click)="addProject(project)" *ngIf="isNew">
              <i class="material-icons">save</i>
              Add Project
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>