<div class="row">
  <div class="col">
    <button mat-raised-button class="btn btn-success pull-right" [routerLink]="['../../', 'suggestions', 'new']">
      <i class="material-icons">add_box</i>
      New Suggestion
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-primary">
        Suggestion box
      </div>
      <div class="card-body">
        <div class="row justify-content-center" *ngIf="suggestions == null">
          <div class="col-2">
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <div class="table-responsive" *ngIf="suggestions !== null">
          <table class="table table-hover">
            <thead class="text-primary">
              <th>Subject</th>
              <th>Status</th>
            </thead>
            <tbody>
              <tr *ngFor="let suggestion of suggestions"
                [routerLink]="['../../', 'suggestions', suggestion.id, 'details']">
                <td>{{ suggestion.title }}</td>
                <td>{{ suggestion.management_resolved ? "Resolved by management" : "Open" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>