<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-warning">
        Project Info
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Name</p>
            <p>{{ project.name }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold">Start Date</p>
            <p>{{ project.start_date }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Status</p>
            <p>{{ status(project) }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold">End Date</p>
            <p>{{ project.end_date }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Description</p>
            <p>{{ project.description }}</p>
          </div>
          <div class="col">
            <table class="table table-hover">
              <thead>
                <th>Client owner(s)</th>
              </thead>
              <tbody>
                <tr *ngFor="let client of project.clients" [routerLink]="['../../../', 'clients', client.id, 'details']">
                  <td>{{ client.name }} {{ client.last_name }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row" *ngIf="project.team">
          <div class="col">
            <table class="table table-hover">
              <thead>
                <th>Assigned Team</th>
              </thead>
              <tbody>
                <tr [routerLink]="['../../../', 'teams', project.team.id, 'details']">
                  <td>{{ project.team.name }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row" *ngIf="canAccess()">
          <div class="col">
            <a class="btn btn-danger btn-round pull-right" [routerLink]="['../', 'edit']">
              <i class="material-icons">edit</i>
              Edit
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>