<div class="row">
  <div class="col-md-5">
    <button mat-raised-button class="btn btn-danger pull-left" *ngIf="isNew"
      [routerLink]="['../../../../', 'employees', employee.id, 'performance-reviews']">
      <i class="material-icons">clear</i>
      Cancel
    </button>
    <button mat-raised-button class="btn btn-danger pull-left" *ngIf="!isNew"
      [routerLink]="['../../../../../', 'employees', employee.id, 'performance-reviews']">
      <i class="material-icons">clear</i>
      Cancel
    </button>
  </div>
  <div class="col-md-5">
    <button mat-raised-button class="btn btn-success pull-right" (click)="updateReview()" *ngIf="!isNew">
      <i class="material-icons">save</i>
      Update Info
    </button>
    <button mat-raised-button class="btn btn-success pull-right" (click)="addReview()" *ngIf="isNew">
      <i class="material-icons">save</i>
      Add Performance Review
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header card-header-danger">
        Performance Review Form
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Career Goal" [(ngModel)]="performanceReview.career_goal"
                name="career_goal" required></textarea>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Raise" [(ngModel)]="performanceReview.raise" name="raise">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Period" [value]="performanceReview.evaluation_period.id" required>
                <mat-option *ngFor="let period of evaluationPeriods" [value]="period.id">
                  {{period.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-header card-header-danger">
        Achievements
      </div>
      <div class="card-body">
        <form *ngFor="let achievement of performanceReview.pr_achievements; let achievement_index = index">
          <div class="row align-items-center" *ngIf="!achievement._destroy">
            <div class="col-md-10">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Description" [(ngModel)]="achievement.name" name="achievement_name"
                  required></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-1">
              <a mat-raised-button class="btn btn-danger btn-round btn-just-icon"
                (click)="removeAchievement(achievement_index)">
                <i class="material-icons">close</i>
                <div class="ripple-container"></div>
              </a>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <button mat-raised-button class="btn btn-success pull-right" (click)="addAchievement()">
              <i class="material-icons">add</i>
              Add Achievement
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <div class="card">
      <div class="card-header card-header-danger">
        Improvements
      </div>
      <div class="card-body">
        <form *ngFor="let improvement of performanceReview.pr_improvements; let improvement_index = index">
          <div class="row align-items-center" *ngIf="!improvement._destroy">
            <div class="col-md-10">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Area" [(ngModel)]="improvement.area" name="improvement_area"
                  required></textarea>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Plan" [(ngModel)]="improvement.plan" name="improvement_plan"
                  required></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-1">
              <a mat-raised-button class="btn btn-danger btn-round btn-just-icon"
                (click)="removeImprovement(improvement_index)">
                <i class="material-icons">close</i>
                <div class="ripple-container"></div>
              </a>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <button mat-raised-button class="btn btn-success pull-right" (click)="addImprovement()">
              <i class="material-icons">add</i>
              Add Improvement
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-header card-header-danger">
        Goals
      </div>
      <div class="card-body">
        <form *ngFor="let goal of performanceReview.pr_goals; let goal_index = index">
          <div class="row align-items-center" *ngIf="!goal._destroy">
            <div class="col-md-7">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Description" [(ngModel)]="goal.name" name="goal_description"
                  required></textarea>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Metric" [(ngModel)]="goal.metric" name="goal_metric"
                  required></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Reward" [(ngModel)]="goal.reward" name="goal_reward" required>
              </mat-form-field>

              <mat-checkbox [(ngModel)]="goal.accomplished" name="goal_accomplished"
                matTooltip="Completed during period?" [matTooltipPosition]="'above'" *ngIf="!isNew">
                <i class="material-icons">thumb_up</i>
              </mat-checkbox>
            </div>
            <div class="col-md-1">
              <a mat-raised-button class="btn btn-danger btn-round btn-just-icon" (click)="removeGoal(goal_index)">
                <i class="material-icons">close</i>
                <div class="ripple-container"></div>
              </a>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <button mat-raised-button class="btn btn-success pull-right" (click)="addGoal()">
              <i class="material-icons">add</i>
              Add Goal
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>