<div class="example-button-row">
  <button mat-raised-button color="primary" [routerLink]="['../', 'performance-reviews']" class="mx-1">Performance
    Reviews</button>
  <button mat-raised-button color="primary" [routerLink]="['../', 'tech-reviews']" class="mx-1">Tech Reviews</button>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-warning">
        Profile
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Birthdate</p>
            <p>{{ employee.birthdate }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold">Hire date</p>
            <p>{{ employee.hire_date }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold">MAC Address</p>
            <p>{{ employee.mac_address || '-' }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold">Computer Serial</p>
            <p>{{ employee.computer_serial_number || '-' }}</p>
          </div>
          <div class="col" *ngIf="employee.blog_url">
            <a href="{{ employee.blog_url }}" target="_blank">Blog</a>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col" *ngFor="let day of employee.schedule.work_days">
            <i class="material-icons" *ngIf="!day.wfh">business</i>
            <i class="material-icons" *ngIf="day.wfh">home</i>
            <p class="font-weight-bold">{{ day.week_day }}</p>
            <p *ngFor="let period of day.periods">{{ period.start_time }} - {{ period.end_time }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Total work hours: {{ employee.schedule.total_work_hours }}</p>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Soft Skills</p>
            <table class="table">
              <tbody>
                <tr *ngFor="let tcp_skill of (employee.tcp_skills | skillType: 'soft')">
                  <td>{{ tcp_skill.skill.name }}</td>
                  <td>
                    <i class="material-icons" *ngFor="let star of counter(+tcp_skill.level)">star</i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col">
            <p class="font-weight-bold">Tech Skills</p>
            <table class="table">
              <tbody>
                <tr *ngFor="let tcp_skill of (employee.tcp_skills | skillType: 'tech')">
                  <td>{{ tcp_skill.skill.name }}</td>
                  <td>
                    <i class="material-icons" *ngFor="let star of counter(+tcp_skill.level)">star</i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Badges earned</p>
            <table class="table">
              <tbody>
                <tr *ngFor="let badgesGroup of employeeBadges">
                  <td *ngFor="let badge of badgesGroup" class="">
                    <div class="card card-profile" [matTooltip]="badge.badge.description"
                      [matTooltipPosition]="'above'">
                      <div class="card-avatar">
                        <img class="img" [src]="fixedImageSquarePath(badge.badge)" />
                      </div>
                      {{ badge.badge.name }} x {{ badge.qty }}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-profile">
      <div class="card-avatar" *ngIf="employee.images.length > 0">
        <img class="img" [src]="firstImage()" />
      </div>
      <div class="card-body">
        <table class="table">
          <tbody>
            <tr>
              <td><i class="material-icons pull-right">vpn_key</i></td>
              <td>
                <h6 class="card-title pull-left">{{ employee.role.name }}</h6>
              </td>
            </tr>
            <tr>
              <td><i class="material-icons pull-right">person</i></td>
              <td>
                <h4 class="card-title pull-left">{{ employee.first_name }} {{ employee.last_name }}</h4>
              </td>
            </tr>
            <tr>
              <td><i class="material-icons pull-right">picture_in_picture</i></td>
              <td>
                <p class="card-title pull-left">{{ employee.id_number }}</p>
              </td>
            </tr>
            <tr>
              <td><i class="material-icons pull-right">contact_mail</i></td>
              <td>
                <p class="card-title pull-left">{{ employee.email }}</p>
              </td>
            </tr>
            <tr>
              <td><i class="material-icons pull-right">contact_phone</i></td>
              <td>
                <p class="card-title pull-left">{{ employee.phone_number }}</p>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col">
            <i class="material-icons" *ngIf="employee.active">verified_user</i>
            <p *ngIf="employee.active">Active User</p>
          </div>
          <div class="col">
            <i class="material-icons" *ngIf="employee.can_be_mentor">school</i>
            <p *ngIf="employee.can_be_mentor">Mentor</p>
          </div>
          <div class="col">
            <i class="material-icons" *ngIf="employee.has_car">directions_car</i>
            <p *ngIf="employee.has_car">Car</p>
          </div>
          <div class="col">
            <i class="material-icons" *ngIf="employee.on_vacation">terrain</i>
            <p *ngIf="employee.on_vacation"> On Vacation</p>
          </div>
        </div>
        <div class="row">
          <div class="col" *ngIf="canAccess()">
            <a class="btn btn-danger btn-round" [routerLink]="['../', 'edit']">
              <i class="material-icons">edit</i>
              Edit
            </a>
          </div>
          <div class="col" *ngIf="canAddBadge()">
            <button mat-raised-button class="btn btn-success btn-round" (click)="addBadges()">
              <i class="material-icons">brightness_high</i>
              Add Badge
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>