<div class="row">
  <div class="col-md-5">
    <button mat-raised-button class="btn btn-danger pull-left" *ngIf="isNew"
      [routerLink]="['../../../../', 'employees', employee.id, 'tech-reviews']">
      <i class="material-icons">clear</i>
      Cancel
    </button>
    <button mat-raised-button class="btn btn-danger pull-left" *ngIf="!isNew"
      [routerLink]="['../../../../../', 'employees', employee.id, 'tech-reviews']">
      <i class="material-icons">clear</i>
      Cancel
    </button>
  </div>
  <div class="col-md-5">
    <button mat-raised-button class="btn btn-success pull-right" (click)="updateReview()" *ngIf="!isNew">
      <i class="material-icons">save</i>
      Update Info
    </button>
    <button mat-raised-button class="btn btn-success pull-right" (click)="addReview()" *ngIf="isNew">
      <i class="material-icons">save</i>
      Add TCP Review
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-danger">
        Tech Review Form
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Period" [value]="techReview.evaluation_period.id" required>
                <mat-option *ngFor="let period of evaluationPeriods" [value]="period.id">
                  {{period.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-danger">
        Answers
      </div>
      <div class="card-body">
        <div class="row" *ngFor="let answer of techReview.tcp_answers">
          <div class="col-md-4">
            <p>{{ answer.competency }}</p>
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Current proficiency level" [value]="answer.current_position" required>
                <mat-option *ngFor="let level of tcpValidPositions" [value]="level">
                  {{level}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <p></p>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Comments / Expectations" [(ngModel)]="answer.tcp_comment_expectation.text"
                name="comment_expectation"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <p></p>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Plan to reach the next level" [(ngModel)]="answer.tcp_plan.text"
                name="plan"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>