<div class="row">
  <div class="col" *ngIf="canAccess()">
    <button mat-raised-button class="btn btn-success pull-right" [routerLink]="['../../', 'notifications', 'new']">
      <i class="material-icons">add_box</i>
      Add New Notification
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        Nofitications List
      </div>
      <div class="card-body">
        <div class="row justify-content-center" *ngIf="notifications == null">
          <div class="col-2">
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text-primary">
              <th>Title</th>
              <th>Type</th>
              <th class="text-center">Status</th>
            </thead>
            <tbody>
              <tr *ngFor="let notification of notifications"
                [routerLink]="['../../', 'notifications', notification.id, 'details']">
                <td>{{ notification.title }}</td>
                <td>{{ notification.notification_type | titlecase }}</td>
                <td class="text-center">
                  <i class="material-icons text-success" *ngIf="notification.active">verified_user</i>
                  <i class="material-icons text-muted" *ngIf="!notification.active">cancel</i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>