<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="card card-chart">
          <div class="card-header card-header-success">
            <h3 class="card-title">Login</h3>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()">
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" type="email" [(ngModel)]="credentials.email" name="email"
                      required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" type="password" [(ngModel)]="credentials.password" name="password"
                      required>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-6">
                  <button mat-raised-button type="submit" class="btn btn-danger">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>