<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-danger">
        Suggestion Form
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Title" [(ngModel)]="suggestion.title" name="title" required>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <textarea [froalaEditor] [froalaEditor]="froalaOptions" [(ngModel)]="suggestion.description"
                name="description">
                {{ suggestion.description }}
              </textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button mat-raised-button class="btn btn-danger" (click)="goBack()">
                <i class="material-icons">clear</i>
                Cancel
              </button>
            </div>
            <div class="col-md-6">
              <button mat-raised-button class="btn btn-success pull-right" (click)="addSuggestion(suggestion)">
                <i class="material-icons">save</i>
                Add Suggestion
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<p>Note: Once a suggestion has been submitted, it is <b>not</b> editable!</p>