<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-danger">
        Client Form
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" [(ngModel)]="client.name" name="name" required>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name" [(ngModel)]="client.last_name" name="last_name" required>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Contact Email" [(ngModel)]="client.contact_email" name="email" required
                  type="email">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Company Name" [(ngModel)]="client.company_name" name="company_name"
                  required>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Phone Number" [(ngModel)]="client.phone_number" name="phone_number" type="tel"
                  required>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Country" [(ngModel)]="client.country" name="country" required>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button mat-raised-button class="btn btn-danger" (click)="goBack()">
                <i class="material-icons">clear</i>
                Cancel
              </button>
            </div>
            <div class="col-md-6">
              <button mat-raised-button class="btn btn-success pull-right" (click)="updateClient(client)" *ngIf="!isNew">
                <i class="material-icons">save</i>
                Update Client
              </button>
              <button mat-raised-button class="btn btn-success pull-right" (click)="addClient(client)" *ngIf="isNew">
                <i class="material-icons">save</i>
                Add Client
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>