<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-warning">
        Suggestion details
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Subject</p>
            <p>{{ suggestion.title }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold">Status</p>
            <p>{{ suggestion.management_resolved ? 'Resolved' : 'Unresolved' }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Details</p>
            <div [froalaView]="suggestion.description"></div>
            <p>by {{ suggestion.author }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a mat-raised-button class="btn btn-info btn-round pull-right" (click)="addComment()"
              matTooltip="Add comment" [matTooltipPosition]="'below'">
              <i class="material-icons">message</i>
            </a>
            <a mat-raised-button class="btn btn-success btn-round pull-right" (click)="markResolved()"
                   *ngIf="canAccess() && !suggestion.management_resolved" matTooltip="Archive (Mark as resolved)" [matTooltipPosition]="'below'">
              <i class="material-icons">archive</i>
            </a>
            <a mat-raised-button class="btn btn-danger btn-round pull-right" (click)="markUnresolved()"
               *ngIf="canAccess() && suggestion.management_resolved" matTooltip="Unarchive (Mark as unresolved)" [matTooltipPosition]="'below'">
              <i class="material-icons">unarchive</i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngFor="let comment of suggestion.comments">
      <div class="card-header card-header-info">
        {{ comment.author }} commented on {{ comment.created_at | date }}
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p>{{ comment.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
