<h1 mat-dialog-title>{{ data.header }}</h1>
<div mat-dialog-content>
  <p>{{ data.message }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="confirm()" class="btn btn-danger">{{ data.confirm }}</button>
  <button mat-button (click)="cancel()" cdkFocusInitial class="btn btn-success">{{ data.cancel }}</button>
</div>