<div class="row">
  <div class="col">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Filter by name" [(ngModel)]="employeeFilter.first_name">
    </mat-form-field>
  </div>
  <div class="col" *ngIf="canAccess()">
    <button mat-raised-button class="btn btn-success pull-right" [routerLink]="['../../', 'employees', 'new']">
      <i class="material-icons">person_add</i>
      Add New Employee
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-success">
        List
      </div>
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col">
            <mat-slide-toggle class="example-margin pull-left" [color]="'primary'"
              (change)="scheduleOnly = !scheduleOnly">
              Schedule only
            </mat-slide-toggle>
          </div>
        </div>
        <div class="row justify-content-center" *ngIf="sortedData == null">
          <div class="col-2">
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <div class="table-responsive" *ngIf="sortedData != null && !scheduleOnly">
          <table class="table table-hover" matSort (matSortChange)="sortData($event)">
            <thead class="text-primary">
              <th mat-sort-header="name">Name</th>
              <th mat-sort-header="last_name">Last Name</th>
              <th>Email</th>
              <th>Schedule</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let employee of sortedData | filterBy: employeeFilter"
                [routerLink]="['../../', 'employees', employee.id, 'details']">
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.email }}</td>
                <td>{{ daySchedule(employee) }}</td>
                <td>
                  <i class="material-icons" *ngIf="!dayScheduleWFH(employee)">business</i>
                  <i class="material-icons" *ngIf="dayScheduleWFH(employee)">home</i>
                </td>
              </tr>
              <tr *ngIf="(employees | filterBy: employeeFilter).length === 0">
                <td>No matching names</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsice" *ngIf="employees != null && scheduleOnly">
          <table class="table table-hover">
            <thead class="text-primary">
              <th>Name</th>
              <th>Schedule</th>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees | filterBy: employeeFilter"
                [routerLink]="['../../', 'employees', employee.id, 'details']">
                <td>{{ employee.first_name }} {{ employee.last_name }}</td>
                <td>
                  <div class="row">
                    <div class="col" *ngFor="let day of employee.schedule.work_days">
                      <p class="font-weight-bold">
                        <span class="material-icons align-middle" *ngIf="!day.wfh">business</span>
                        <span class="material-icons align-middle" *ngIf="day.wfh">home</span>
                        {{ day.week_day }}
                      </p>
                      <p *ngFor="let period of day.periods">{{ period.start_time }} - {{ period.end_time }}</p>
                    </div>
                  </div>
                </td>
              </tr>
              <tr *ngIf="(employees | filterBy: employeeFilter).length === 0">
                <td>No matching names</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
