<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-warning">
        Client Info
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Name</p>
            <p>{{ client.name }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold">Last Name</p>
            <p>{{ client.last_name }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold">Email</p>
            <p>{{ client.contact_email }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Company Name</p>
            <p>{{ client.company_name }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold">Phone</p>
            <p>{{ client.phone_number }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold">Country</p>
            <p>{{ client.country }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <table class="table table-hover">
              <thead>
                <th>Projects</th>
              </thead>
              <tbody>
                <tr *ngFor="let project of client.projects" [routerLink]="['../../../', 'projects', project.id, 'details']">
                  <td>{{ project.name }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col"></div>
        </div>
        <div class="row" *ngIf="canAccess()">
          <div class="col">
            <a class="btn btn-danger btn-round pull-right" [routerLink]="['../', 'edit']">
              <i class="material-icons">edit</i>
              Edit
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>