<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-warning">
        Team Info
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Name</p>
            <p>{{ team.name }}</p>
          </div>
          <div class="col">
            <table class="table table-hover">
              <thead class="text-primary">
                <th>Assigned Project</th>
              </thead>
              <tbody>
                <tr [routerLink]="['../../../', 'projects', team.project?.id, 'details']">
                  <td>{{ team.project?.name }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Team Members</p>
            <table class="table table-hover">
              <thead class="text-primary">
                <th>Name</th>
                <th>Email</th>
                <th>Birthdate</th>
                <th>Hire date</th>
                <th>Availability</th>
                <th class="text-center">Active</th>
              </thead>
              <tbody>
                <tr *ngFor="let employee of team.employees" [routerLink]="['../../../', 'employees', employee.id, 'details']">
                  <td>{{ employee.first_name }} {{ employee.last_name }} </td>
                  <td>{{ employee.email }}</td>
                  <td>{{ employee.birthdate }}</td>
                  <td>{{ employee.hire_date }}</td>
                  <td>{{ employee.on_vacation ? 'On vacation' : 'Office' }}</td>
                  <td class="text-center">
                    <i class="material-icons text-success" *ngIf="employee.active">verified_user</i>
                    <i class="material-icons text-muted" *ngIf="!employee.active">cancel</i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row" *ngIf="canAccess()">
          <div class="col">
            <button mat-raised-button class="btn btn-danger" (click)="deleteTeam(team)">
              <i class="material-icons">cancel</i>
              Delete Team
            </button>
          </div>
          <div class="col">
            <a class="btn btn-danger btn-round pull-right" [routerLink]="['../', 'edit']">
              <i class="material-icons">edit</i>
              Edit
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>