<div class="row">
  <div class="col" *ngIf="canAccess()">
    <button mat-raised-button class="btn btn-success pull-right" [routerLink]="['../../', 'badges', 'new']">
      <i class="material-icons">add_box</i>
      Add New Badge
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-warning">
        Badges List
      </div>
      <div class="card-body">
        <div class="row justify-content-center" *ngIf="badges == null">
          <div class="col-2">
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text-primary">
              <th>Badge</th>
              <th>Name</th>
              <th>Description</th>
            </thead>
            <tbody>
              <tr *ngFor="let badge of badges" [routerLink]="['../../', 'badges', badge.id, 'details']">
                <td>
                  <div class="card-avatar">
                    <img class="img" [src]="fixedImageThumbPath(badge)" />
                  </div>
                </td>
                <td>{{ badge.name }}</td>
                <td>{{ badge.description }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>