<div class="row">
  <div class="col" *ngIf="canAccess()">
    <button mat-raised-button class="btn btn-success pull-right" [routerLink]="['../../', 'tcp-competencies', 'new']">
      <i class="material-icons">add_box</i>
      Add New TCP Competency
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        TCP Competencies List
      </div>
      <div class="card-body">
        <div class="row justify-content-center" *ngIf="tcpCompetencies == null">
          <div class="col-2">
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text- primary">
              <th>Text</th>
            </thead>
            <tbody>
              <tr *ngFor="let tcpCompetency of tcpCompetencies"
                [routerLink]="['../../', 'tcp-competencies', tcpCompetency.id, 'details']">
                <td>{{ tcpCompetency.text }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>