<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-danger">
        TCP Competency Form
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" [(ngModel)]="tcpCompetency.text" name="text" required>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button mat-raised-button class="btn btn-danger" (click)="goBack()">
                <i class="material-icons">clear</i>
                Cancel
              </button>
            </div>
            <div class="col-md-6">
              <button mat-raised-button class="btn btn-success pull-right" (click)="updateTcpCompetency(tcpCompetency)"
                *ngIf="!isNew">
                <i class="material-icons">save</i>
                Update TCP Competency
              </button>
              <button mat-raised-button class="btn btn-success pull-right" (click)="addTcpCompetency(tcpCompetency)"
                *ngIf="isNew">
                <i class="material-icons">save</i>
                Add TCP COmpetency
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>