<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-danger">
        Badge Form
      </div>
      <div class="card-body">
        <form>
          <div class="row justify-content-center">
            <div class="col-4">
              <img [src]="fixedImagePath(badge)" height="100" *ngIf="badge.original != undefined" class="rounded">
              <input type="file" (change)="onSelectedFile($event)" />
            </div>
            <div class="col-4">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Badge Name" [(ngModel)]="badge.name" name="name" required>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Badge Description" [(ngModel)]="badge.description" name="description"
                  required></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button mat-raised-button class="btn btn-danger" (click)="goBack()">
                <i class="material-icons">clear</i>
                Cancel
              </button>
            </div>
            <div class="col-md-6">
              <button mat-raised-button class="btn btn-success pull-right" (click)="updateBadge(badge)" *ngIf="!isNew">
                <i class="material-icons">save</i>
                Update Badge
              </button>
              <button mat-raised-button class="btn btn-success pull-right" (click)="addBadge(badge)" *ngIf="isNew">
                <i class="material-icons">save</i>
                Add Badge
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>