<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-danger">
        Event Form
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" [(ngModel)]="event.name" name="name" required>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Frequency" [value]="event.frequency">
                <mat-option *ngFor="let frequency of frequencies" [value]="frequency.value">
                  {{ frequency.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Points" [(ngModel)]="event.points" name="points" type="number" required>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button class="btn btn-danger" (click)="goBack()">
              <i class="material-icons">clear</i>
              Cancel
            </button>
          </div>
          <div class="col-md-6">
            <button mat-raised-button class="btn btn-success pull-right" (click)="updateEvent(event)" *ngIf="!isNew">
              <i class="material-icons">save</i>
              Update Event
            </button>
            <button mat-raised-button class="btn btn-success pull-right" (click)="addEvent(event)" *ngIf="isNew">
              <i class="material-icons">save</i>
              Add Event
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>