<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-danger">
        Notification Form
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Title" [(ngModel)]="notification.title" name="title" required>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Notification Type" [value]="notification.notification_type" name="type"
                  required>
                  <mat-option *ngFor="let option of notificationTypes" [value]="option.symbol">
                    {{ option.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col" *ngIf="isRecurrent(notification)">
              <mat-form-field class="example-full-width">
                <input matInput [matDatepicker]="triggerDate" placeholder="Trigger date" [(ngModel)]="notification.date"
                  name="triggerDate" required>
                <mat-datepicker-toggle matSuffix [for]="triggerDate"></mat-datepicker-toggle>
                <mat-datepicker #triggerDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-checkbox [(ngModel)]="notification.active" name="active" class="example-full-width">
                Active
              </mat-checkbox>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <textarea [froalaEditor] [froalaEditor]="froalaOptions" [(ngModel)]="notification.content" name="content">
                {{ notification.content }}
              </textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button mat-raised-button class="btn btn-danger" (click)="goBack()">
                <i class="material-icons">clear</i>
                Cancel
              </button>
            </div>
            <div class="col-md-6">
              <button mat-raised-button class="btn btn-success pull-right" (click)="updateNotification(notification)"
                *ngIf="!isNew">
                <i class="material-icons">save</i>
                Update Notification
              </button>
              <button mat-raised-button class="btn btn-success pull-right" (click)="addNotification(notification)"
                *ngIf="isNew">
                <i class="material-icons">save</i>
                Add Notification
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<p>Note: There can only be <b>one</b> active notification of type "Birthday" or "Anniversary" at any given time.</p>