<mat-vertical-stepper [linear]="isNew" #stepper>
  <mat-step label="Personal Info" state="phone">
    <form>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" [(ngModel)]="employee.first_name" name="first_name" required>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" [(ngModel)]="employee.last_name" name="last_name" required>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="birthdate" placeholder="Birthdate" [(ngModel)]="employee.birthdate"
              name="birthdate" required>
            <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
            <mat-datepicker #birthdate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="ID Number" [(ngModel)]="employee.id_number" name="ID Number" required
              [textMask]="mask()" type="text">
          </mat-form-field>
        </div>

      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [(ngModel)]="employee.email" name="email" required>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width" *ngIf="currentEmployeeIsAdmin()">
            <mat-select placeholder="Role" [value]="employee.role" [compareWith]="compareRoles" required>
              <mat-option *ngFor="let role of validRoles" [value]="role">
                {{role.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width" *ngIf="!isApprentice(employee)">
            <input matInput [matDatepicker]="hiredate" placeholder="Hire date" [(ngModel)]="employee.hire_date"
              name="hiredate" required>
            <mat-datepicker-toggle matSuffix [for]="hiredate"></mat-datepicker-toggle>
            <mat-datepicker #hiredate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Computer Serial Number" [(ngModel)]="employee.computer_serial_number"
              name="computer_serial_number">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Contact phone" [(ngModel)]="employee.phone_number" name="phone_number" required
              [textMask]="{ mask: phoneMask, guide: false }" type="text">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Blog URL" [(ngModel)]="employee.blog_url" name="blog_url">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="MAC Address" [(ngModel)]="employee.mac_address" name="mac_address">
          </mat-form-field>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-3">
          <mat-checkbox [(ngModel)]="employee.has_car" name="has_car">
            <div class="d-flex align-items-center">
              <i class="material-icons">directions_car</i>
              <span>Collaborator has car</span>
            </div>
          </mat-checkbox>
        </div>
        <div class="col-md-3">
          <mat-checkbox [(ngModel)]="employee.can_be_mentor" name="can_be_mentor">
            <div class="d-flex align-items-center">
              <i class="material-icons">school</i>
              Collaborator is or can be a mentor
            </div>
          </mat-checkbox>
        </div>
        <div class="col-md-3">
          <mat-checkbox [(ngModel)]="employee.on_vacation" name="on_vacation">
            <div class="d-flex align-items-center">
              <i class="material-icons">terrain</i>
              Collaborator is on vacation
            </div>
          </mat-checkbox>
        </div>
        <div class="col-md-3">
          <mat-checkbox [(ngModel)]="employee.active" name="active">
            <div class="d-flex align-items-center">
              <i class="material-icons">verified_user</i>
              Collaborator is an active user
            </div>
          </mat-checkbox>
        </div>
      </div>

      <div class="row" *ngIf="!isNew">
        <div class="col">
          <mat-checkbox [(ngModel)]="passwordChange" name="password_change">
            <div class="d-flex align-items-center">
              <i class="material-icons">lock</i>
              Change password
            </div>
          </mat-checkbox>
        </div>
      </div>

      <div class="row" *ngIf="passwordChange">
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="New Password" [(ngModel)]="employee.password" name="password" type="password">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password Confirmation" [(ngModel)]="employee.password_confirmation"
              name="password_confirmation" type="password">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <button mat-raised-button class="btn btn-danger pull-left" (click)="goBack()">
            <i class="material-icons">clear</i>
            Cancel
          </button>
        </div>
        <div class="col-md-6">
          <button mat-raised-button class="btn btn-success pull-right"
            (click)="updateEmployee(employee, passwordChange)" *ngIf="!isNew">
            <i class="material-icons">save</i>
            Update Info
          </button>
          <button mat-raised-button class="btn btn-success pull-right" (click)="addEmployee(employee)" *ngIf="isNew">
            <i class="material-icons">save</i>
            Add Employee
          </button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step label="Schedule" *ngIf="!isNew && canEdit()" state="schedule">
    <form>
      <div class="row justify-content-center">
        <div class="col-md-2" *ngFor="let day of employee.schedule.work_days; let index_day = index">
          <p class="font-weight-bold">{{ day.week_day }}</p>
          <form>
            <mat-checkbox [(ngModel)]="day.wfh" name="wfh" matTooltip="Working from home day?"
              [matTooltipPosition]="'above'">
              <i class="material-icons">home</i>
            </mat-checkbox>
            <form *ngFor="let period of day.periods; let index_period = index; last as isLast">
              <div *ngIf="!period._destroy">
                <mat-form-field class="example-full-width">
                  <input matInput [ngxTimepicker]="start_time" placeholder="Start" [(ngModel)]="period.start_time"
                    name="start_time" required [format]="24">
                  <ngx-material-timepicker #start_time></ngx-material-timepicker>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput [ngxTimepicker]="end_time" placeholder="End" [(ngModel)]="period.end_time"
                    name="end_time" required [format]="24">
                  <ngx-material-timepicker #end_time></ngx-material-timepicker>
                </mat-form-field>
                <button mat-raised-button type="button" matTooltip="Remove period" [matTooltipPosition]="'above'"
                  class="btn btn-danger btn-link btn-sm btn-just-icon" (click)="removePeriod(index_day, index_period)">
                  <i class="material-icons">close</i>
                </button>
              </div>
            </form>
            <button mat-raised-button type="button" matTooltip="Add period" [matTooltipPosition]="'above'"
              class="btn btn-success btn-link btn-sm btn-just-icon pull-right" (click)="addPeriod(index_day)">
              <i class=" material-icons">add</i>
            </button>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <button mat-raised-button class="btn btn-danger" (click)="goBack()">
            <i class="material-icons">clear</i>
            Cancel
          </button>
        </div>
        <div class="col-md-6">
          <button mat-raised-button class="btn btn-success pull-right"
            (click)="updateSchedule(employee.id, employee.schedule)">
            <i class="material-icons">save</i>
            Update Schedule
          </button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step label="Profile Picture" *ngIf="!isNew" state="picture">
    <div class="row justify-content-center">
      <div *ngFor="let image of employee.images; let image_index = index;">
        <div class="col-2" *ngIf="!image._destroy">
          <img [src]="fixedImagePath(image)" height="100" *ngIf="image.original != undefined" class="rounded">
          <input type="file" (change)="onSelectedFile($event, image_index)" *ngIf="image.original == null" />
          <button mat-raised-button class="btn btn-warning" (click)="removeImage(image_index)">
            <i class="material-icons">close</i>
            Remove
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button mat-raised-button class="btn btn-success pull-right" (click)="addImage()">
          <i class="material-icons">add</i>
          Add Profile Image
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button mat-raised-button class="btn btn-danger" (click)="goBack()">
          <i class="material-icons">clear</i>
          Cancel
        </button>
      </div>
      <div class="col-md-6">
        <button mat-raised-button class="btn btn-success pull-right" (click)="updateEmployeeProfileImages(employee)">
          <i class="material-icons">save</i>
          Update Profile Images
        </button>
      </div>
    </div>
  </mat-step>

  <mat-step label="Skills" *ngIf="!isNew" state="skills">
    <div class="row">
      <div class="col">
        <h4>Available Skills</h4>
        <table class="table">
          <thead class="text-primary">
            <th>Skill name</th>
            <th>Skill type</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let skill of skills; let skill_index = index;">
              <td>{{ skill.name }}</td>
              <td>{{ skill.skill_type == 'tech' ? 'Tech' : 'Soft' }}</td>
              <td>
                <button mat-raised-button type="button" matTooltip="Add skill" [matTooltipPosition]="'above'"
                  class="btn btn-success btn-link btn-sm btn-just-icon pull-right"
                  (click)="addSkill(skill, skill_index)">
                  <i class=" material-icons">add</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <h4>Employee skills</h4>
        <table class="table">
          <thead class="text-primary">
            <th>Skill name</th>
            <th>Skill type</th>
            <th>Skill level</th>
            <th></th>
          </thead>
          <tbody>
            <tr *ngFor="let skill of filteredTcpSkills()">
              <td>{{ skill.skill.name }}</td>
              <td>{{ skill.skill.skill_type == 'tech' ? 'Tech' : 'Soft' }}</td>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Skill level" [value]="skill.level" required
                    matTooltip="Current level: {{ skill.level }}">
                    <mat-option *ngFor="let level of validSkillLevels" [value]="level.level">
                      {{ level.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>
                <button mat-raised-button type="button" matTooltip="Add skill" [matTooltipPosition]="'above'"
                  class="btn btn-danger btn-link btn-sm btn-just-icon pull-right" (click)="removeSkill(skill)">
                  <i class=" material-icons">close</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button mat-raised-button class="btn btn-danger" (click)="goBack()">
          <i class="material-icons">clear</i>
          Cancel
        </button>
      </div>
      <div class="col-md-6">
        <button mat-raised-button class="btn btn-success pull-right" (click)="updateSkills()">
          <i class="material-icons">save</i>
          Update Skills
        </button>
      </div>
    </div>
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="profile">
    <mat-icon>account_circle</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="schedule">
    <mat-icon>calendar_today</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="picture">
    <mat-icon>face</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="skills">
    <mat-icon>build</mat-icon>
  </ng-template>
</mat-vertical-stepper>