<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-warning">
        Badge Info
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="card-avatar">
              <img class="img" [src]="fixedImageMediumPath(badge)" />
            </div>
          </div>
          <div class="col">
            <p class="font-weight-bold">Name</p>
            <p>{{ badge.name }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold">Description</p>
            <p>{{ badge.description }}</p>
          </div>
        </div>
        <div class="row" *ngIf="canAccess()">
          <div class="col">
            <a class="btn btn-danger btn-round pull-right" [routerLink]="['../', 'edit']">
              <i class="material-icons">edit</i>
              Edit
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>