<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center" *ngIf="employees == null">
      <div class="col-2">
        <mat-spinner></mat-spinner>
      </div>
    </div>
    <div class="row" *ngIf="employees != null">
      <div class="col-md-3">
        <div class="card card-profile">
          <div class="card-avatar" *ngIf="secondPlace?.images.length > 0">
            <img class="img" [src]="firstImage(secondPlace)" />
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ secondPlace?.name }}</h4>
            <h6>2nd Place</h6>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar" *ngIf="firstPlace?.images.length > 0">
            <img class="img" [src]="firstImage(firstPlace)" />
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ firstPlace?.name }}</h4>
            <h6>1st Place</h6>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-profile">
          <div class="card-avatar" *ngIf="thirdPlace?.images.length > 0">
            <img class="img" [src]="firstImage(thirdPlace)" />
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ thirdPlace?.name }}</h4>
            <h6>3rd Place</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header card-header-primary">
            Scoreboard
          </div>
          <div class="card-body">
            <div class="row justify-content-center" *ngIf="employees == null">
              <div class="col-2">
                <mat-spinner></mat-spinner>
              </div>
            </div>
            <div class="table-responsive" *ngIf="employees != null">
              <table class="table table-hover">
                <thead class="text-primary">
                  <th>Name</th>
                  <th>Email</th>
                  <th>Score</th>
                  <th>{{ month() }} Badges</th>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of employees | orderBy: 'total_score' : true">
                    <td>{{ employee.name }} </td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.total_score }}</td>
                    <td>{{ totalBadges(employee) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>