<div class="row">
  <div class="col" *ngIf="canAccess()">
    <button mat-raised-button class="btn btn-success pull-right" [routerLink]="['../../', 'teams', 'new']">
      <i class="material-icons">add_box</i>
      Add New Team
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-warning">
        Teams List
      </div>
      <div class="card-body">
        <div class="row justify-content-center" *ngIf="teams == null">
          <div class="col-2">
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text-primary">
              <th>Name</th>
              <th class="text-center">Number of integrants</th>
            </thead>
            <tbody>
              <tr *ngFor="let team of teams" [routerLink]="['../../', 'teams', team.id, 'details']">
                <td>{{ team.name }}</td>
                <td class="text-center">{{ team.employees.length }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>