<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-warning">
        Notification Info
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Title</p>
            <p>{{ notification.title }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold">Notification Type</p>
            <p>{{ type(notification) }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold">Status</p>
            <p *ngIf="notification.active">Active</p>
            <p *ngIf="!notification.active">Inactive</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Content</p>
            <div [froalaView]="notification.content"></div>
          </div>
        </div>
        <div class="row" *ngIf="canAccess()">
          <div class="col">
            <a class="btn btn-danger btn-round pull-right" [routerLink]="['../', 'edit']">
              <i class="material-icons">edit</i>
              Edit
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>