<div class="logo">
  <a [routerLink]="['/employees']" class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/pernix-central-logo.png" />
    </div>
    Pernix Central
  </a>
</div>
<div class="side-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
      <a class="nav-link" [routerLink]="[menuItem.path]">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>

    <li routerLinkActive="active" class="active-pro nav-item">
      <a class="nav-link" (click)="logOut()">
        <i class="material-icons">power_settings_new</i>
        <p>Log Out</p>
      </a>
    </li>
  </ul>
</div>