mat-expansion-panel-header, .mat-expanded {
  background: linear-gradient(60deg, #26c6da, #00acc1);
}

mat-expansion-panel-header:hover {
  background: linear-gradient(60deg, #26c6da, #00acc1) !important;
}

mat-panel-title {
  color: white !important;
}
