<div class="example-button-row">
  <button mat-raised-button color="primary"
    [routerLink]="['../../../', 'employees', employee.id, 'details']">Profile</button>
  <button mat-raised-button color="primary" [routerLink]="['../', 'tech-reviews']" class="mx-1">Tech Reviews</button>
</div>
<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-primary">
        Performance Reviews
      </div>
      <div class="card-body">
        <div class="row mb-3" *ngIf="canAccess()">
          <div class="col">
            <div class="example-button-row pull-right">
              <button mat-raised-button color="primary"
                [routerLink]="['../../../', 'employees', employee.id, 'performance-reviews', 'new']">New Performance
                Review</button>
            </div>
          </div>
        </div>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let review of performanceReviews">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ review.evaluation_period.name }}
              </mat-panel-title>
              <mat-panel-description>

              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row">
              <div class="col">
                <a mat-raised-button class="btn btn-warning btn-round btn-just-icon pull-right"
                  [routerLink]="['../../../', 'employees', employee.id, 'performance-reviews', review.id, 'edit']">
                  <i class="material-icons">create</i>
                  <div class="ripple-container"></div>
                </a>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header card-header-success">
                    Career Goal & Raise
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <p class="font-weight-bold">Career Goal</p>
                        <p>{{ review.career_goal }}</p>
                        <p class="font-weight-bold">Raise</p>
                        <p>{{ review.raise }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <div class="card-header card-header-success">
                    Achievements
                  </div>
                  <div class="card-body">
                    <table class="table table-hover">
                      <thead class="text-primary">
                        <th>Description</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let achievement of review.pr_achievements">
                          <td>{{ achievement.name }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header card-header-primary">
                    Improvement Areas & Action Plans
                  </div>
                  <div class="card-body">
                    <table class="table table-hover">
                      <thead class="text-primary">
                        <th>Area</th>
                        <th>Plan</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let improvement of review.pr_improvements">
                          <td>{{ improvement.area }}</td>
                          <td>{{ improvement.plan }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="card">
                  <div class="card-header card-header-danger">
                    Goals
                  </div>
                  <div class="card-body">
                    <table class="table table-hover">
                      <thead class="text-primary">
                        <th>Name</th>
                        <th>Metric</th>
                        <th>Reward</th>
                        <th class="text-center">Acomplished?</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let goal of review.pr_goals">
                          <td>{{ goal.name }}</td>
                          <td>{{ goal.metric }}</td>
                          <td>{{ goal.reward }}</td>
                          <td class="text-center">
                            <i class="material-icons text-success" *ngIf="goal.accomplished">thumb_up</i>
                            <i class="material-icons text-muted" *ngIf="!goal.accomplished">thumb_down</i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>