<div class="row">
  <div class="col" *ngIf="canAccess()">
    <button mat-raised-button class="btn btn-success pull-right" [routerLink]="['../../', 'skills', 'new']">
      <i class="material-icons">add_box</i>
      Add New Skill
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        Soft Skills List
      </div>
      <div class="card-body">
        <div class="row justify-content-center" *ngIf="softSkills == null">
          <div class="col-2">
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <div class="table-responsive" *ngIf="softSkills != null">
          <table class="table table-hover">
            <thead class="text-primary">
              <th>Name</th>
            </thead>
            <tbody>
              <tr *ngFor="let softSkill of softSkills" [routerLink]="['../../', 'skills', softSkill.id, 'details']">
                <td>{{ softSkill.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header card-header-info">
        Tech Skills List
      </div>
      <div class="card-body">
        <div class="row justify-content-center" *ngIf="techSkills == null">
          <div class="col-2">
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <div class="table-responsive" *ngIf="techSkills != null">
          <table class="table table-hover">
            <thead class="text-primary">
              <th>Name</th>
            </thead>
            <tbody>
              <tr *ngFor="let techSkill of techSkills" [routerLink]="['../../', 'skills', techSkill.id, 'details']">
                <td>{{ techSkill.name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>