<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-danger">
        Team Form
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" [(ngModel)]="team.name" name="name" required>
            </mat-form-field>
          </div>
          <div class="col">
            <!-- <mat-form-field class="example-full-width">
              <mat-select placeholder="Assigned Project" [value]="team.project_id" name="project">
                <mat-option *ngFor="let project of projects" [value]="project.id">
                  {{ project.name }}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="example-full-width">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let skill of skillNames" [selectable]="selectable" [removable]="removable"
                  (removed)="removeSkill(skill)">
                  {{ skill }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="Filter employees by skills" #skillSearchInput [formControl]="skillSearchCtrl"
                  [matAutocomplete]="auto" [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="addSkill($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedSkill($event)">
                <mat-option *ngFor="let skill of filteredSkillNames | async" [value]="skill">
                  {{ skill }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Members" multiple [value]="team.employee_ids">
                <mat-option *ngFor="let employee of employees | employeeBySkill:skillNames" [value]="employee.id">
                  {{ employee.first_name }} {{ employee.last_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button mat-raised-button class="btn btn-danger" (click)="goBack()">
              <i class="material-icons">clear</i>
              Cancel
            </button>
          </div>
          <div class="col-md-6">
            <button mat-raised-button class="btn btn-success pull-right" (click)="updateTeam(team)" *ngIf="!isNew">
              <i class="material-icons">save</i>
              Update Team
            </button>
            <button mat-raised-button class="btn btn-success pull-right" (click)="addTeam(team)" *ngIf="isNew">
              <i class="material-icons">save</i>
              Add Team
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>