<div class="row">
  <div class="col" *ngIf="canAccess()">
    <button mat-raised-button class="btn btn-success pull-right" [routerLink]="['../../', 'projects', 'new']">
      <i class="material-icons">add_box</i>
      Add New Project
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header card-header-danger">
        Projects List
      </div>
      <div class="card-body">
        <div class="row justify-content-center" *ngIf="projects == null">
          <div class="col-2">
            <mat-spinner></mat-spinner>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="text-primary">
              <th>Name</th>
              <th>Status</th>
              <th>Start Date</th>
              <th>End date</th>
            </thead>
            <tbody>
              <tr *ngFor="let project of projects" [routerLink]="['../../', 'projects', project.id, 'details']">
                <td>{{ project.name }} </td>
                <td>{{ status(project) }} </td>
                <td>{{ project.start_date }} </td>
                <td>{{ project.end_date }} </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>