<div mat-dialog-content>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header card-header-warning">
          Award badge to {{ employee.first_name }}!
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="New Badge" [value]="asignation.badge_id" required>
                  <mat-option *ngFor="let badge of badges" [value]="badge.id">
                    {{badge.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="confirm()" class="btn btn-danger">{{ data.confirm }}</button>
  <button mat-button (click)="cancel()" cdkFocusInitial class="btn btn-success">{{ data.cancel }}</button>
</div>