<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-warning">
        Event Info
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Name</p>
            <p>{{ event.name }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold">Frequency</p>
            <p>{{ event.frequency | titlecase }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold">Points</p>
            <p>{{ event.points }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <table class="table table-hover">
              <thead>
                <th>Participant Name</th>
                <th>Owner</th>
                <th>Date</th>
              </thead>
              <tbody>
                <tr *ngFor="let participant of event.participants"
                  [routerLink]="['../../../', 'employees', participant.employee.id, 'details']">
                  <td>{{ participant.employee.first_name }} {{ participant.employee.last_name }}</td>
                  <td>
                    <i class="material-icons text-success" *ngIf="participant.is_owner" matTooltip="Organizes the event"
                      [matTooltipPosition]="'above'">build</i>
                    <i class="material-icons text-muted" *ngIf="!participant.is_owner"
                      matTooltip="Participates in the event" [matTooltipPosition]="'above'">beenhere</i>
                  </td>
                  <td>{{ participant.date }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row" *ngIf="canAccess()">
          <div class="col" *ngIf="employees == null">
            <div class="col-1">
              <mat-spinner [diameter]='45'></mat-spinner>
            </div>
          </div>
          <div class="col" *ngIf="employees != null">
            <button mat-raised-button class="btn btn-success" (click)="addParticipants(event)">
              <i class="material-icons">add_box</i>
              Add Participants
            </button>
          </div>
          <div class="col">
            <a class="btn btn-danger btn-round pull-right" [routerLink]="['../', 'edit']">
              <i class="material-icons">edit</i>
              Edit
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>