<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-danger">
        Skill Form
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Name" [(ngModel)]="skill.name" name="name" required>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Skill Type" [value]="skill.skill_type" required>
                  <mat-option *ngFor="let type of validTypes" [value]="type.symbol">
                    {{ type.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <button mat-raised-button class="btn btn-danger" (click)="goBack()">
                <i class="material-icons">clear</i>
                Cancel
              </button>
            </div>
            <div class="col-md-6">
              <button mat-raised-button class="btn btn-success pull-right" (click)="updateSkill(skill)" *ngIf="!isNew">
                <i class="material-icons">save</i>
                Update Skill
              </button>
              <button mat-raised-button class="btn btn-success pull-right" (click)="addSkill(skill)" *ngIf="isNew">
                <i class="material-icons">save</i>
                Add Skill
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>