<div class="row">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header card-header-warning">
        Skill Specifics
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <p class="font-weight-bold">Name</p>
            <p>{{ skill.name }}</p>
          </div>
          <div class="col">
            <p class="font-weight-bold">Skill Type</p>
            <p>{{ skill.skill_type == 'tech' ? 'Tech Skill' : 'Soft Skill' }}</p>
          </div>
          <div class="col" *ngIf="canAccess()">
            <p class="font-weight-bold"></p>
            <a class="btn btn-danger btn-round pull-right" [routerLink]="['../', 'edit']">
              <i class="material-icons">edit</i>
              Edit
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>